
<div class="jumbotron">
  <h1 class="display-4"><%= @book.name %> <%= @book.autor %></h1>
  <br>
  <%= link_to "Edit this book", edit_book_path(@book), class: "btn btn-secondary" %> 
  <%= link_to "Back to books", books_path, class: "btn btn-secondary" %>
  <p>
  <%= button_to 'Destroy', @book, method: :delete, class: "btn btn-secondary" %>
