<div id="<%= dom_id reservation %>">
  <p>
    <strong>Active:</strong>
    <%= reservation.active %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= reservation.client %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= reservation.book %>
  </p>

  <p>
    <strong>Librarian:</strong>
    <%= reservation.librarian %>
  </p>

</div>
